* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Regular */
    font-style: normal;
}

body {
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

.page {
    /* vw: viewport width */
    /* vh: viewport height */
    /* 브라우저 화면 너비의 1%가 1vw */
    /* 브라우저 화면 높이의 1%가 1vh */

    /* %: 부모 요소를 기준으로 크기를 계산하는 상대 단위 */
    /* width: % => 부모의 width 기준 */
    /* height: % => 부모의 height 기준 */

    width: 100vw; /* 화면 너비 100% */
    height: 100vh; /* 화면 높이 100% */

    background-color: #000000;
}

.header {
    width: 100%;
    height: 70px;

    display: flex;
    /* align-items는 컨테이너의 자식(아이템) 각각에 적용됨 */
    /* Flexbox의 세로축 위치 설정 */
    align-items: center; /* start: 상단, center: 중앙, end: 하단 */

    /* justify-content는 컨테이너 안의 아이템 전체 */
    /* Flexbox에서는 가로축 위치 설정 */
    justify-content: center;
}

.header__content {
    /* width 값이 최대 1240px */
    width: 100%;
    max-width: 1240px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content__logo {
    height: 36px;
}

.header__content__btn {
    padding: 8px 12px;

    border: none;
    border-radius: 4px;
    background-color: #ff6f0f;
    color: white;

    cursor: pointer;
}

.main {
    width: 100%;

    display: flex;
    justify-content: center;
}

.main__content {
    width: 100%;
    max-width: 1240px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 128px;

    /* background-color: orange; */
}

.main__content__banner {
    display: flex;
    align-items: center;
}

.main__content__banner > .text {
    font-size: 36px;
    font-weight: 500;
    color: white;
}

.main__content__banner > .icon {
    width: 36px;
    margin-top: 4px;
}

.main__content__search {
    display: flex;
    align-items: start;

    gap: 16px;
}

.main__content__search > .dialog-btn {
    display: flex;
    align-items: center;

    padding: 12px;

    background-color: white;
    border: none;
    border-radius: 24px;

    font-size: 16px;
}

.main__content__search > .dialog-btn > .dialog-btn__icon {
    width: 20px;
}

.main__content__search > .search-box {
    width: 754px;

    display: flex;
    flex-direction: column;
}

/* .main__content__search > .search-box > .search-box__search-bar {
    display: flex;
    align-items: center;

    padding: 12px 16px;

    border: 1px solid gray;
    border-radius: 24px;
} */
.search-box__search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px;
    gap: 16px;

    border: 1px solid gray;
    border-radius: 32px;
}

.search-box__search-bar__select-box {
    background: none;
    border: none;
    color: gray;
}
.search-box__search-bar__input {
    flex: 1;

    background: none;
    border: none;
}
.search-box__search-bar__btn {
    width: 40px;
    height: 40px;

    background-color: white;
    border-radius: 50%;
}

.search-box__popular {
    width: 100%;

    display: flex;
    align-items: center;

    gap: 16px;

    overflow-x: scroll;
}

.search-box__popular__label {
    min-width: fit-content;
    color: white;
}

.search-box__popular__content {
    display: flex;
    align-items: center;

    gap: 16px;

    color: gray;
    list-style: none;
}

.search-box__popular__content > li {
    min-width: fit-content;
}

.footer {
    width: 100%;

    display: flex;
    justify-content: center;
}

.footer__content {
    width: 100%;
    max-width: 1240px;

    height: 100px;

    background-color: red;
}
